.adv {
    min-height: 470px;
    padding: 70px 0 75px 0;
    background-color: #f6f6f6;
    &__header {
        text-align: center;
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
    }
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__icons {
        width: 247px;
        margin: 0 auto;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__text {
        margin-top: 38px;
        text-align: center;
        span {
            color: #0d0d0d;
            font-size: 18px;
            font-weight: 700;
        }
    }
    &__subtext {
        margin-top: 29px;
        text-align: center;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 500;
        a {
            color: #ff0000;
            text-decoration: underline;
        }
    }
}